@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Inter\ Web/Inter-Regular.woff2") format("woff2"),
      url("./fonts/Inter\ Web/Inter-Regular.woff") format("woff");
  }
  
  body {
    font-family: "Inter", sans-serif;
    background: #fff8f4;
  }