.page-1 {
    height: 740px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .illustration-box {
    margin: auto;
  }

  .illustration-box .lottie {
    margin: auto;
    width: 300px; 
    height: 300px;
  }