section {
    width: 359px;
    height: 740px;
    left: 8px;
    border-radius: 12px;
    padding: 24px 16px 0px;
    margin: 0px calc(50% - 359px / 2);

    background: #ffffff;

    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    top: 0px;
  }